<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Website</title>
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body id="bg1">
  <div class="container-fluid" id="bg2">
    <nav class="navbar navbar-expand-sm navbar-dark >
  
      <a class="navbar-brand" href="#"> <b id="text2">YOUR WEBSITE</b></a>
      <button id="button4"class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        
         <span class="navbar-toggler-icon" ></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
        <ul class=" nav navbar-nav mr-auto">
      <li class="nav-item"><a href="#" class="nav-link"><p id="text1">Home</p></a></li>
      <li class="nav-item"><a href="#" class="nav-link"><p id="text1">About us</p></a></li>
      <li class="nav-item"><a href="#" class="nav-link"><p id="text1">Work</p></a></li>
      <li class="nav-item"><a href="#" class="nav-link"><p id="text1">info</p></a></li>
      <li class="nav-item"><a href="#" class="nav-link"><p id="text1"><button id="button1">Get Started</button></p></a></li>
    </ul>
      </div>
    
  </nav><br><br>
  <!-- <form action="/add" method="post">
  name:<input type="text"name="name"><br>
   email:<input type="email"name="email"><br>
    number:<input type="text"name="number"><br>
    username:<input type="text"name="username"><br>
    password:<input type="password"name="password"><br><br>
    <input type="submit" value="REGISTER">
  </form> -->
 <form method="post" action="/">  
     <div class="form-group row">
      <label for="tite" class="col-sm-2 col-form-label" >Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control"  placeholder="Enter your name" name="name" required>
      </div>
    </div><br>
    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control"  placeholder="Enter your email" name="email"required>
      </div>
    </div><br>
    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Mobile</label>
      <div class="col-sm-10">
        <input type="number" class="form-control"  placeholder="Enter your Number" name="number"required>
      </div>
    </div><br>
    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Username</label>
      <div class="col-sm-10">
        <input type="text" class="form-control"  placeholder="Enter your username" name="username"required>
      </div>
    </div><br>
    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control"  placeholder="Enter your Password" name="password"required>
      </div>
    </div><br><br>
    <input type="submit" value="REGISTER"class="btn btn-primary" id="button2">
  </form>
  </div>
  
  <style>
    #bg1{
      background-image: url("https://www.technocrazed.com/wp-content/uploads/2015/12/HD-purple-wallpaper-image-to-use-as-background-132.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 800px;
      padding: 60px;
    }
    #bg2{
      /* background-color: white; */
      background-image: url("https://png.pngtree.com/back_origin_pic/03/92/96/9b9b8d9084aeada6ce340510f76926f9.jpg");
      height: 600px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 20px;
      padding: 30px;
    }
    #text1{
      color: grey;
    }
    #button1{
      background-color: #B679E5;
      border:none;
      border-radius: 10px;
      padding: 5px;
    }
    #blank1{
      height: 100px;
    }
    #text3{
      color: darkblue;
      font-size: 40px;
      font-weight: bolder;
      font-family:'Times New Roman', Times, serif;
      letter-spacing: 3px;
    }
    #text4{
      text-align: justify;
      font-weight: bolder;
      
    }
    #button2{
      background-color: #B679E5;
      border:none;
      border-radius: 10px;
      padding: 10px;
      width:200px
    }
    #button4{
      background-color: #B679E5;
    }
  </style>
</body>
</html>